<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Admin Add Product</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<section>
    <div class="container p-5 mt-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-sh">
                    <div class="card-header text-center">
                        <p class="fs-4">Add Product</p>

                        <!-- Success Message -->
                        <th:block th:if="${session.successMessage}">
                            <p class="text-success fw-bold">[[${session.successMessage}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>

                        <!-- Error Message -->
                        <th:block th:if="${session.errorMessage}">
                            <p class="text-danger fw-bold">[[${session.errorMessage}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>

                    </div>
                    <div class="card-body">
                        <form action="/admin/saveProduct" method="post" enctype="multipart/form-data">
                            
                            <!-- Title -->
                            <div class="mb-3">
                                <label>Enter Title</label> 
                                <input type="text" name="title" class="form-control" required>
                            </div>

                            <!-- Description -->
                            <div class="mb-3">
                                <label>Enter Description</label>
                                <textarea rows="3" class="form-control" name="description" required></textarea>
                            </div>

                            <!-- Category -->
                            <div class="mb-3">
                                <label>Category</label> 
                                <select class="form-control" name="category" required>
                                    <option value="" disabled selected>--select--</option>
                                    <option th:each="c:${categories}" th:value="${c.name}">[[${c.name}]]</option>
                                </select>
                            </div>

                            <!-- Price -->
                            <div class="mb-3">
                                <label>Enter Price</label> 
                                <input type="number" name="price" class="form-control" min="0" required>
                            </div>

                            <!-- Status -->
                            <div class="mb-3">
                                <label>Status</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="true" name="isActive" id="flexRadioDefault1" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">Active</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive" value="false" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">Inactive</label>
                                </div>
                            </div>

                            <!-- Stock and Image Upload -->
                            <div class="row">
                                <div class="mb-3 col">
                                    <label>Enter Stock</label> 
                                    <input type="number" name="stock" class="form-control" min="0" required>
                                </div>

                                <div class="mb-3 col">
                                    <label>Upload Image</label> 
                                    <input type="file" name="file" class="form-control" required>
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <button class="btn btn-primary col-md-12">Submit</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
