<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Admin Edit Product</title>
<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<section>
	<div class="container p-5 mt-3">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card card-sh">
				<div class="card-header text-center fs-4"> <p class="fs-4">Edit Product</p>
				<th:block th:if="${session.successMessage}">
    					<p class="fw-bold text-success">[[${session.successMessage}]]</p>
    					<th:block th:utext="${@commonServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMessage}">
					<p class="fw-bold text-success">[[${session.errorMessage}]]</p>
					<th:block th:utext="${@commonServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
					</div>
				</div>
					<div class="card-body">
						<form action="/admin/updateProduct" method="post" enctype="multipart/form-data">
						<input type="hidden" name="id" th:value="${product.id}"> 
							<div class="mb-3">
								<label>Enter Title</label>
								<input type="text" name="title" class="form-control" th:value="${product.title}">
							</div>
							<div class="mb-3">
								<label>Enter Description</label>
								<textarea rows="3" cols="" class="form-control" name="description" >[[${product.description}]]</textarea>
							</div>
							<div class="row">
    <!-- Category Field -->
    <div class="mb-3 col-md-6">
        <label for="category">Category</label>
        <select class="form-control" id="category" name="category">
            <option>[[${product.category}]]</option>
            <option th:each="c:${categories}" th:value="${c.name}">[[${c.name}]]</option>
        </select>
    </div>

    <!-- Price Field -->
    <div class="mb-3 col-md-6">
        <label for="price">Enter Price</label>
        <input type="number" id="price" name="price" class="form-control" th:value="${product.price}">
    </div>
</div>

<div class="row">
    <!-- Discount Field -->
    <div class="mb-3 col-md-6">
        <label for="discount">Discount</label>
        <input type="number" id="discount" name="discount" class="form-control" th:value="${product.discount}">
    </div>

    <!-- Discount Price Field -->
    <div class="mb-3 col-md-6">
        <label for="discountPrice">Discount Price</label>
        <input type="number" id="discountPrice" name="discountPrice" readonly class="form-control" th:value="${product.discountPrice}">
    </div>
</div>
<div class="mb-3">
    <label>Status</label>
    
									<div class="form-check">
										<input class="form-check-input" type="radio"
											th:checked="${product.isActive==true}" value="true"
											name="isActive" id="flexRadioDefault1"> <label
											class="form-check-label" for="flexRadioDefault1">
											Active </label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="isActive"
											th:checked="${product.isActive==false}" value="false"
											id="flexRadioDefault2"> <label
											class="form-check-label" for="flexRadioDefault2">
											Inactive </label>
									</div>
</div>

							<div> 
								<div class="row">
									<div class="mb-3 col">
								<label>Enter Stock</label>
								<input type="number" name="stock" class="form-control"  th:value="${product.stock}">
							</div>
							
							<div class="mb-3 col">
								<label>Upload Image</label>
								<input type="file" name="file" class="form-control">
							</div>
							<div class="mt-1"><img th:src="@{'/img/product_img/'+ ${product.image}}" width="80px" height="80px"></div>
								</div>
							</div>
							<button class="btn btn-primary col-md-12">Update</button>
						</form>
					</div>
				</div>
			</div>
		</div>
</section>
</body>
</html>